@import url('https://fonts.googleapis.com/css?family=Teko|Oswald');

html {
	font-size: 20px;
	min-width: 100vw;
	min-height: 100vh;
}

@media (max-width: 400px) {
  html { font-size: 13px; }
}

body {
	padding: 0;
	margin: 0;
	font-family: Oswald;
	font-size: 1em;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 6rem;
	background-color: #262626;
	font-family: Teko;
	color: white;
}

header nav {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	margin-top: 1em;
	padding: 0;
}

nav ul {
	margin-right: 1rem;
}


nav li {
	display: inline;
	list-style-type: none;
	padding: 2.5rem;
	font-size: 1.25em;
}

a {
	text-decoration: none;
	color: inherit;
}

#topLogo {
	display: inline-block;
	margin-left: 1rem;
	margin-top: 1rem;
}

h1 {
	width: max-content;
	text-transform: uppercase;
}

.boxed {
	border: 5px solid #33363b;
	padding: 0 0.5rem;
}

.logo {
	font-family: Teko;
	font-weight: 500;
	font-size: 2em;
	letter-spacing: 2px;
}

.cta {
	font-family: Teko;
	font-weight: 550;
	text-transform: uppercase;
	color: #e62739;
	width: max-content;
	border: 3px solid #33363b;
	margin-left: auto;
	margin-right: auto;
	height: 1.5em;
}


main {
	margin-top: 5em;
	background-color: #eaeaea;
}

main .cta {
	font-size: 1.25em;
}

#top, #middle, #bottom {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

section {
	padding: 3rem;
}

#top {
	
}

p {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
	text-align: center;
}

#middle {
	
}

#bottom {
}

h3 + ul {
	margin-top: -10px;
}

#bottom p {
	font-size: 1em;
}

#info {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

h2 {
	text-align: center;
	margin: 0;
	padding-top: 1em;
}

h3 {
	text-align: center;
	border-bottom: 3px solid #33363b;
}


footer {
	font-size: 0.75em;
	font-family: Teko;
	font-weight: 500;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#bottomLogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}